.sidebar{
    flex:3; 
    margin:20px;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarImg{
    width: 250px;
    height:200px;
    margin-top:15px;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem > p{
    padding:20px;
}

.sidebarList{
    list-style: none;
    margin-bottom: 20px;
}
.sidebarListItem{
    display: inline-block;
    width:50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarTitle{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#222;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
    width:80%;
    border-top:1px solid #a7a7a7;
    border-bottom:1px solid #a7a7a7;
    text-align: center;
}
.sidebarSocial{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;

}

.sidebarIcon{
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}